*{
    margin: 0;
    padding: 0;
    color: #f5585e;
    font-family: system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #111314;
}
.buttonsSection{
    width: 100%;
    display:flex;
    justify-content: space-between;
}
@media only screen and (max-width: 600px){
    .buttonsSection{
        align-items: center;
        flex-direction: column;
    }
}
@media only screen and (max-width: 600px){
    .contentSpace{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 600px){
    button{
        margin: 1vw 0px;
    }
}
button{
    padding: 3.4vw;
    max-width: 360px;
    max-height: 360px;
    background-color: #111314;
    border: #f5585e solid;
}
button:hover{
    border: transparent solid;
    background-color: #f5585e;
}
@media only screen and (max-width: 600px){
    button{
        min-width: 360px;
    }
}
i{
    font-size: 5vw;
    color:#f5585e;
}
i:hover{
    color:#111314;

}
h1{
    text-align: center;
    font-size: 6vw;
    font-family:initial;
}
h1:hover{
    color:#111314;
    background-color: #77c699;
}
@media only screen and (max-width: 600px){
    h1{
        margin-top: 8vw;
        font-size: 9vw;
    }
}
h5{
    text-align: center;
    font-size: 2vw;
    color:#77c699;
    padding: .4vw;
}
h5:hover{
    color:#111314;
    background-color: #f5585e;
}
@media only screen and (max-width: 600px){
    h5{
        font-size: 4vw;
    }
}
h2{
    background-color: #f5585e;
    color: #111314;
    text-align: center;
    border: 2px solid #f5585e;
    
}
@media only screen and (max-width: 600px){
    h2{
        font-size: 2.8vw;
    }
}
h4{
    width: 100px;
    font-size: 1.4vw;
    color: #77c699;
    border: 2px solid transparent;
    padding: .4vw;
}
h4:hover{
    border: 2px solid #77c699;
}
@media only screen and (max-width: 600px){
    h4{
        font-size: 2.6vw;
    }
}
h3{
    font-size: 1vw;
    width: 100%;
    color: #77c699;
    text-align: center;
    padding: .4vw;
    border: 2px solid transparent;
}
h3:hover{
    background-color: #77c699;
    border: 2px solid #77c699;
    color: #111314;
}
@media only screen and (max-width: 600px){
    h3{
        font-size: 2vw;
    }
}
ul{
    list-style: none;
    font-size: 1vw;
    width: 100%;
    text-align: center;
    padding: .4vw;
}
li{
    color: #77c699;
    border: 2px solid transparent;
}
li:hover{
    background-color: #77c699;
    border: 2px solid #77c699;
    color: #111314;
}
@media only screen and (max-width: 600px){
    li{
        font-size: 2vw;
    }
}